@{
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your app description page.</h2>
</hgroup>

<article>
    <p>
        <h2>TiredGenie</h2></br>
        A genie that got tired of traveling the world granting wishes set up a website to grant them instead!</br>
        This is a website managed by a fictional genie (In the world of the assignment, the genie is real). The internet is too big to grant everybody’s wishes though, so the genie only grants one at a time. The basis of the site is that users go and vote on a wish they would like granted, and whichever one has the most votes after an allotted time period gets granted. Alternatively, wishes could be granted once they receive an allotted amount of votes, regardless of timeframe.
        Users can click a ‘Today’s popular wishes’ link to view the most popular wishes of the day. They can range from personal wishes to more overreaching ones. For example, somebody might be wishing for a new car, while somebody else might be wishing for new presidential candidates. Users can also ‘submit a wish’ on a separate page. Once a wish is approved by the genie through an administrator panel, the wish will appear on the website. Users will be able to view both ‘popular wishes’ and ‘user submitted wishes’.
        Users will be required (if I can figure out how to implement this feature) to create an account that tracks their votes and submitted wishes. In addition, through their user accounts they will be able to open support tickets if something has gone wrong with their wish, which the genie can review through an administrator panel.

    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>