@{
    Page.Title = "Administration Panel";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<section class="admin">
    <p>
        This page will contain the administration panel for the Genie.</br>
        It will only be visible and accessible to the Genie, via their</br>
        own user account.
    </p>
</section>
