@{
    Page.Title = "Homepage";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2>Welcome to Tired Genie!</h2>
        </hgroup>
        <p>
            
        </p>
    </div>
</section>
}

<ol class="round">
    <li class="one">
        <h5>Welcome to TiredGenie!</h5>
        The place where all of your wishes come true!.. Sometimes~
    </li>

    <li class="two">
        <h5>Register or Log in to get started</h5>
        Only registered users can submit wishes. Make an account today to get started and make your dreams come true!
        
    </li>

    <li class="three">
        <h5>Don't forget to vote!</h5>
        Wishes only come true if enough people vote for them to. Make sure you vote for your favorite wishes and maybe they'll come true!
        Other users can see who voted for their wishes, so if you vote on theirs, they may vote for yours too!
        <!--Not sure if the ability to see users will stay or not-->
    </li>
</ol>