@using prototype;

@{
    Page.Title = "Wish Submitted";
}

@{
    DatabaseAccess db = new DatabaseAccess();
}

<body>
    @{ 
        if(IsPost)
        {
            var description = Request["description"];
            db.AddWish(new Wish(User.Identity.Name, DateTime.Now, "Pending", 0, description));


            <p>
                <h3>You successfully submitted a wish!</h3>
                <h4>Here are the details:</h4>
                Description: <i>@description<br /></i>

                Thank you for using TiredGenie!
            </p>
        }
        else
        {
            @: Error, no values submitted. Please try again.
        }
    }
</body>
